In [1]:
import pandas as pd

In [2]:
pd.set_option('max_columns', 50)
pd.set_option('max_row', 50)
excel = pd.ExcelFile('osaka_car.xls')

In [3]:
len(excel.sheet_names)

16

In [4]:
df = pd.read_excel('osaka_car.xls', sheet_name=excel.sheet_names)

In [5]:
dfh13 = df['H14'].iloc[10:40, :]
dfh13.columns = [i for i in range(len(dfh13.columns))]
dfh13_1 = dfh13.iloc[:5, :]
dfh13_2 = dfh13.iloc[6:, :]

In [6]:
dfh13_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45
10,NaN,平成９,NaN,年,NaN,945839,-2591.0,NaN,549522,NaN,NaN,186374,NaN,NaN,363148,NaN,NaN,180320,NaN,NaN,43376,NaN,NaN,132292,NaN,4652,NaN,NaN,2835,NaN,18416,NaN,NaN,5833,NaN,NaN,20384,NaN,NaN,160238,-90.0,NaN,8291,-2501.0,NaN,９
11,NaN,NaN,10,年,NaN,931917,-2633.0,NaN,548197,NaN,NaN,195662,NaN,NaN,352535,NaN,NaN,169856,NaN,NaN,41913,NaN,NaN,123384,NaN,4559,NaN,NaN,2740,NaN,19033,NaN,NaN,5791,NaN,NaN,20222,NaN,NaN,157838,-91.0,NaN,8240,-2542.0,NaN,10
12,NaN,NaN,11,年,NaN,921544,-2748.0,NaN,543083,NaN,NaN,203759,NaN,NaN,339324,NaN,NaN,163018,NaN,NaN,39669,NaN,NaN,118858,NaN,4491,NaN,NaN,2683,NaN,19295,NaN,NaN,5711,NaN,NaN,20154,NaN,NaN,159341,-95.0,NaN,8259,-2653.0,NaN,11
13,NaN,NaN,12,年,NaN,917210,-2789.0,NaN,539770,NaN,NaN,210901,NaN,NaN,328869,NaN,NaN,158380,NaN,NaN,39142,NaN,NaN,114631,NaN,4607,NaN,NaN,2637,NaN,19560,NaN,NaN,5669,NaN,NaN,20426,NaN,NaN,162574,-101.0,NaN,8194,-2688.0,NaN,12
14,NaN,NaN,13,年,NaN,913052,-2753.0,NaN,537677,NaN,NaN,216334,NaN,NaN,321343,NaN,NaN,153369,NaN,NaN,38250,NaN,NaN,110497,NaN,4622,NaN,NaN,2479,NaN,19813,NaN,NaN,5604,NaN,NaN,20827,NaN,NaN,165220,-88.0,NaN,8063,-2665.0,NaN,13

In [7]:
dfh13_2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45
16,NaN,１,北,NaN,NaN,44823,-94.0,NaN,25122,NaN,NaN,9760,NaN,NaN,15362,NaN,NaN,10609,NaN,NaN,1425,NaN,NaN,9108,NaN,76,NaN,NaN,191,NaN,652,NaN,NaN,159,NaN,NaN,859,NaN,NaN,6883,-6.0,NaN,348,-88.0,NaN,１
17,NaN,２,都島,都島,NaN,26880,-59.0,NaN,17110,NaN,NaN,7231,NaN,NaN,9879,NaN,NaN,3837,NaN,NaN,867,NaN,NaN,2967,NaN,3,NaN,NaN,21,NaN,432,NaN,NaN,68,NaN,NaN,741,NaN,NaN,4524,-2.0,NaN,147,-57.0,NaN,２
18,NaN,３,福島,福島,NaN,23340,-923.0,NaN,11532,NaN,NaN,4831,NaN,NaN,6701,NaN,NaN,5203,NaN,NaN,1264,NaN,NaN,3901,NaN,38,NaN,NaN,34,NaN,556,NaN,NaN,83,NaN,NaN,451,NaN,NaN,3877,-1.0,NaN,1604,-922.0,NaN,３
19,NaN,４,此花,此花,NaN,24428,-6.0,NaN,12802,NaN,NaN,5190,NaN,NaN,7612,NaN,NaN,5088,NaN,NaN,2231,NaN,NaN,2611,NaN,246,NaN,NaN,207,NaN,1181,NaN,NaN,307,NaN,NaN,521,NaN,NaN,4190,-3.0,NaN,132,-3.0,NaN,４
20,NaN,５,中央,中央,NaN,44942,-81.0,NaN,27170,NaN,NaN,10228,NaN,NaN,16942,NaN,NaN,9658,NaN,NaN,677,NaN,NaN,8969,NaN,12,NaN,NaN,50,NaN,651,NaN,NaN,178,NaN,NaN,964,NaN,NaN,6061,-2.0,NaN,210,-79.0,NaN,５
21,NaN,６,西,西,NaN,35746,-138.0,NaN,18930,NaN,NaN,7658,NaN,NaN,11272,NaN,NaN,9584,NaN,NaN,1578,NaN,NaN,7679,NaN,327,NaN,NaN,34,NaN,560,NaN,NaN,268,NaN,NaN,599,NaN,NaN,5312,-11.0,NaN,459,-127.0,NaN,６
22,NaN,７,港,港,NaN,29765,-77.0,NaN,15141,NaN,NaN,6266,NaN,NaN,8875,NaN,NaN,6033,NaN,NaN,2129,NaN,NaN,3303,NaN,601,NaN,NaN,326,NaN,967,NaN,NaN,971,NaN,NaN,709,NaN,NaN,5330,-1.0,NaN,288,-76.0,NaN,７
23,NaN,８,大正,大正,NaN,29222,-26.0,NaN,15175,NaN,NaN,6053,NaN,NaN,9122,NaN,NaN,6424,NaN,NaN,2773,NaN,NaN,3116,NaN,535,NaN,NaN,112,NaN,797,NaN,NaN,349,NaN,NaN,557,NaN,NaN,5606,-1.0,NaN,202,-25.0,NaN,８
24,NaN,９,天王寺,天王寺,NaN,18957,-50.0,NaN,11792,NaN,NaN,5348,NaN,NaN,6444,NaN,NaN,2993,NaN,NaN,327,NaN,NaN,2666,NaN,-,NaN,NaN,18,NaN,173,NaN,NaN,31,NaN,NaN,479,NaN,NaN,3338,-3.0,NaN,133,-47.0,NaN,９
25,NaN,10,浪速,浪速,NaN,21714,-43.0,NaN,10562,NaN,NaN,4608,NaN,NaN,5954,NaN,NaN,4866,NaN,NaN,964,NaN,NaN,3887,NaN,15,NaN,NaN,13,NaN,832,NaN,NaN,202,NaN,NaN,407,NaN,NaN,4565,-1.0,NaN,267,-42.0,NaN,10
26,NaN,11,西淀川,西淀川,NaN,38077,-76.0,NaN,20938,NaN,NaN,8478,NaN,NaN,12460,NaN,NaN,8211,NaN,NaN,3329,NaN,NaN,4691,NaN,191,NaN,NaN,117,NaN,1279,NaN,NaN,407,NaN,NaN,785,NaN,NaN,5954,-3.0,NaN,386,-73.0,NaN,11
27,NaN,12,淀川,淀川,NaN,57294,-71.0,NaN,36019,NaN,NaN,13572,NaN,NaN,22447,NaN,NaN,9427,NaN,NaN,1419,NaN,NaN,7957,NaN,51,NaN,NaN,81,NaN,815,NaN,NaN,37,NaN,NaN,1473,NaN,NaN,9184,-2.0,NaN,258,-69.0,NaN,12
28,NaN,13,東淀川,東淀川,NaN,55004,-75.0,NaN,34642,NaN,NaN,13473,NaN,NaN,21169,NaN,NaN,6478,NaN,NaN,1687,NaN,NaN,4776,NaN,15,NaN,NaN,213,NaN,1177,NaN,NaN,209,NaN,NaN,1817,NaN,NaN,10287,-3.0,NaN,181,-72.0,NaN,13
29,NaN,14,東成,東成,NaN,26229,-106.0,NaN,15031,NaN,NaN,6228,NaN,NaN,8803,NaN,NaN,4607,NaN,NaN,979,NaN,NaN,3596,NaN,32,NaN,NaN,113,NaN,446,NaN,NaN,58,NaN,NaN,577,NaN,NaN,5015,-3.0,NaN,382,-103.0,NaN,14
30,NaN,15,生野,生野,NaN,44144,-119.0,NaN,25588,NaN,NaN,10253,NaN,NaN,15335,NaN,NaN,6024,NaN,NaN,1215,NaN,NaN,4805,NaN,4,NaN,NaN,65,NaN,690,NaN,NaN,107,NaN,NaN,940,NaN,NaN,10170,-2.0,NaN,560,-117.0,NaN,15
31,NaN,16,旭,旭,NaN,26961,-24.0,NaN,17261,NaN,NaN,6895,NaN,NaN,10366,NaN,NaN,2952,NaN,NaN,574,NaN,NaN,2372,NaN,6,NaN,NaN,36,NaN,358,NaN,NaN,40,NaN,NaN,824,NaN,NaN,5397,-2.0,NaN,93,-22.0,NaN,16
32,NaN,17,城東,城東,NaN,48170,-79.0,NaN,30155,NaN,NaN,11714,NaN,NaN,18441,NaN,NaN,6147,NaN,NaN,1369,NaN,NaN,4746,NaN,32,NaN,NaN,126,NaN,1240,NaN,NaN,220,NaN,NaN,1493,NaN,NaN,8465,-1.0,NaN,324,-78.0,NaN,17
33,NaN,18,鶴見,鶴見,NaN,38387,-73.0,NaN,23286,NaN,NaN,9416,NaN,NaN,13870,NaN,NaN,6241,NaN,NaN,2550,NaN,NaN,3652,NaN,39,NaN,NaN,76,NaN,836,NaN,NaN,166,NaN,NaN,830,NaN,NaN,6666,-1.0,NaN,286,-72.0,NaN,18
34,NaN,19,阿倍野,阿倍野,NaN,25624,-9.0,NaN,17570,NaN,NaN,7907,NaN,NaN,9663,NaN,NaN,2424,NaN,NaN,359,NaN,NaN,2063,NaN,2,NaN,NaN,25,NaN,305,NaN,NaN,19,NaN,NaN,722,NaN,NaN,4475,-1.0,NaN,84,-8.0,NaN,19
35,NaN,20,住之江,住之江,NaN,52609,-148.0,NaN,29176,NaN,NaN,11355,NaN,NaN,17821,NaN,NaN,10770,NaN,NaN,4093,NaN,NaN,4450,NaN,2227,NaN,NaN,197,NaN,2119,NaN,NaN,946,NaN,NaN,855,NaN,NaN,8227,-4.0,NaN,319,-144.0,NaN,20
36,NaN,21,住吉,住吉,NaN,45345,-8.0,NaN,30245,NaN,NaN,12465,NaN,NaN,17780,NaN,NaN,3996,NaN,NaN,724,NaN,NaN,3254,NaN,18,NaN,NaN,144,NaN,506,NaN,NaN,454,NaN,NaN,1079,NaN,NaN,8838,-1.0,NaN,83,-7.0,NaN,21
37,NaN,22,東住吉,東住吉,NaN,46972,-313.0,NaN,28058,NaN,NaN,11594,NaN,NaN,16464,NaN,NaN,6331,NaN,NaN,1502,NaN,NaN,4803,NaN,26,NaN,NaN,24,NaN,1026,NaN,NaN,123,NaN,NaN,1080,NaN,NaN,9716,-4.0,NaN,614,-309.0,NaN,22
38,NaN,23,平野,平野,NaN,77165,-106.0,NaN,47112,NaN,NaN,18947,NaN,NaN,28165,NaN,NaN,10188,NaN,NaN,2521,NaN,NaN,7630,NaN,37,NaN,NaN,178,NaN,1323,NaN,NaN,98,NaN,NaN,1405,NaN,NaN,16355,-1.0,NaN,506,-105.0,NaN,23
39,NaN,24,西成,西成,NaN,31254,-49.0,NaN,17260,NaN,NaN,6864,NaN,NaN,10396,NaN,NaN,5278,NaN,NaN,1694,NaN,NaN,3495,NaN,89,NaN,NaN,78,NaN,892,NaN,NaN,104,NaN,NaN,660,NaN,NaN,6785,-29.0,NaN,197,-20.0,NaN,24

In [147]:
def make_sheet(df, year):
    df1 = df[year].iloc[10:40,:]
    df1.columns = [i for i in range(len(df1.columns))]
    df1_1 = df1.iloc[:5, :]
    df1_2 = df1.iloc[6:, :]
    return df1_1, df1_2

def make_sheet2(df, year):
    df1 = df[year].iloc[10:40,:]
    df1.columns = [i for i in range(len(df1.columns))]
    df1_1 = df1.iloc[:5, :]
    df1_2 = df1.iloc[6:, :]
    print(df1_1, df1_2)

def s26to29(df, df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', 
                 '特種特殊総数', '普通特種', '小型特種', '大型特種', '小型二輪', '軽自動車',
                 '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域')
    df = df.iloc[:,[1,2,5,6,8,11,14,17,20,23,25,28,30,31,33,34,37,40,41,43,44]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,31,33,34,37,40,41,43,44]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1
    
def s24to25(df, df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', 
                 '特種特殊総数', '普通特種', '小型特種', '大型特種', '小型二輪', '軽自動車',
                 '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域')
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,31,32,33,36,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,31,32,33,36,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1
    
def s21to23(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域')    
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1

def s20(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域')  
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,34,37,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,34,37,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1 

def s19(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域')     
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,37,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,37,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1 

def s18(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域') 
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,37,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1

def s15to17(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域') 
    if df.isnull().iloc[4,36]:
        df.iloc[4,36] = df.iloc[4,37]
        if df.isnull().iloc[4,36]:
            df.iloc[4,36] = 0
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1 

# H14シートのみ
def s14(df,df1):
    col_names = ['自動車総数', '電気自動車総数','乗用車総数', '普通乗用車','小型乗用車', 
                 '貨物自動車総数','普通車貨物',  '小型貨物', '被けん引貨物', 'バス', '特種用途車',
                 '大型特種', '小型二輪', '軽自動車', '電気小型自動車', '小型特殊自動車', '電気小型特殊自動車']
    col_names1 = col_names.copy()
    col_names2 = col_names.copy()
    col_names1.insert(0, '年度')
    col_names2.insert(0, '地域') 
    df.iloc[1:5, 1] = df.iloc[1:5, 2]
    df = df.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df = remove_nengo(df)
    df = df.T
    df = df.dropna().T
    df.columns = col_names1
    df1 = df1.iloc[:, [1,2,5,6,8,11,14,17,20,23,25,28,30,33,36,39,40,42,43]]
    df1 = df1.iloc[:, 1:]
    df1.columns = col_names2
    df = df.fillna(0)
    df1 = df1.fillna(0)
    return df, df1     

# シートの1行目の平成を取り除く
def remove_nengo(df):
    df.iloc[0, 0] = df.iloc[0, 0].replace('平　成　', '')  # H29 - H27
    df.iloc[0, 0] = df.iloc[0, 0].replace('平 成  ', '') # H23 - H26
    df.iloc[0, 0] = df.iloc[0, 0].replace('平 成　', '') # H17 - H22
    df.iloc[0, 0] = df.iloc[0, 0].replace('平成', '') # H14 - H16
    return df

# 行、列に番号をふる
def number_count(df, df1):
    #df.columns = [i for i in range(len(df.columns))]
    df.index = [i for i in range(len(df.index))]
    #df1.columns = [i for i in range(len(df1.columns))]
    df1.index = [i for i in range(len(df1.index))]
    return df, df1

def replace_cols_all(df, i, i1):
    df.iloc[i, i1] = str(df.iloc[i, i1])
    df.iloc[i, i1] = df.iloc[i, i1].replace('(', '')
    df.iloc[i, i1] = df.iloc[i, i1].replace(')', '')
    df.iloc[i, i1] = df.iloc[i, i1].replace(',', '')
    df.iloc[i, i1] = df.iloc[i, i1].replace('-', '0')
    df.iloc[i, i1] = float(df.iloc[i, i1])
    if df.iloc[i, i1] < 0:
        df.iloc[i, i1] = df.iloc[i, i1] * -1
    return


# 数値以外のデータを数値にする
def make_cols_all(df, t_list):
    for i in range(len(df.index)):
        for i1 in t_list:
            replace_cols_all(df, i, i1)
    return df

In [193]:
def excel_to_csv(file_path='osaka_car.xls'):
    excel = pd.ExcelFile(file_path)
    df = pd.read_excel('osaka_car.xls', sheet_name = excel.sheet_names)
    for i in excel.sheet_names:
        i2 = int(i.replace('H', ''))
        if i2 >= 26:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s26to29(df1, df2)
            df1 = make_cols_all(df1, [2,17,19])
            df2 = make_cols_all(df2, [2, 9, 17, 19])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 >= 24:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s24to25(df1, df2)
            df1 = make_cols_all(df1, [2,17,19])
            df2 = make_cols_all(df2, [2, 9, 17, 19])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 >= 21:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s21to23(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17]) 
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 == 20:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s20(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 == 19:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s19(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 == 18:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s18(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 >= 15:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s15to17(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))
        elif i2 == 14:
            df1, df2 = make_sheet(df, i)
            df1, df2 = s14(df1, df2)
            df1 = make_cols_all(df1, [2,15,17])
            df2 = make_cols_all(df2, [2, 9, 15, 17])
            df1.to_csv('./csv1/all_{}.csv'.format(i))
            df2.to_csv('./csv1/kubetsu_{}.csv'.format(i))

In [194]:
excel_to_csv()

C:\Users\hogaw\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\hogaw\Anaconda3\lib\site-packages\ipykernel_launcher.py:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\hogaw\Anaconda3\lib\site-packages\ipykernel_launcher.py:186: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\hogaw\Anaconda3\lib\site-packages\ipykernel_launcher.py:187: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\hogaw\Anaconda3\lib\site-packages\ipykernel_launcher.py:188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\hogaw\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [186]:
def test_case(df, year):
    df,df1 = make_sheet(df, year)
    df, df1 = s18(df, df1)
    df, df1 = number_count(df, df1)
    df = make_cols_all(df, [2,15,17])
    df1 = make_cols_all(df1, [2, 9, 15, 17])
    print(len(df.columns))
    print(len(df1.columns))
    print(df, df1)

In [187]:
test_case(df, 'H18')

C:\Users\hogaw\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

18
18
   年度   自動車総数  電気自動車総数   乗用車総数   普通乗用車   小型乗用車  貨物自動車総数  普通車貨物    小型貨物  \
0  13  913052     2753  537677  216334  321343   153369  38250  110497
1  14  905738     2736  533935  218448  315487   147711  37034  106034
2  15  900212     2743  530308  221585  308723   142416  35786  101924
3  16  899539     2736  529975  225894  304081   137609  34714   97960
4  17  897431     2771  528491  228242  300249   131058  32430   93558

   被けん引貨物    バス  特種用途車  大型特種     小型二輪    軽自動車 電気小型自動車  小型特殊自動車 電気小型特殊自動車
0    4622  2479  19813  5604  20827.0  165220      88     8063      2665
1    4643  2454  19426  5522  20964.0  167685      54     8041      2682
2    4706  2473  18869  5488  21041.0  171701      35     7916      2708
3    4935  2467  17996  5449  21322.0  176946      26     7775      2710
4    5070  2420  17333  5429  21769.0  183207      22     7724      2749        地域  自動車総数  電気自動車総数  乗用車総数  普通乗用車  小型乗用車  貨物自動車総数  普通車貨物  小型貨物  被けん引貨物  \
0     北  43837       83  25295  10837  14458     8951   1060  7828      63
1    都島  26777       49  17149   8008   9141     3261    734  2524       3
2    福島  23246      911  11668   5291   6377     4416   1016  3347      53
3    此花  24213       29  12646   5392   7254     4508   1898  2308     302
4    中央  45049       69  27638  11283  16355     8691    603  8075      13
5     西  35939      154  19727   8809  10918     8460   1252  6912     296
6     港  28963       79  14407   6338   8069     5609   2088  2820     701
7    大正  28933       22  14577   6285   8292     5896   2552  2805     539
8   天王寺  18972       41  11998   6193   5805     2431    266  2164       1
9    浪速  20357       52  10257   4734   5523     3903    812  3084       7
10  西淀川  38910       70  21553   9235  12318     7417   2930  4301     186
11   淀川  57648       68  36290  14703  21587     8158   1166  6949      43
12  東淀川  52620       87  32700  13612  19088     5094   1168  3924       2
13   東成  25854      111  14760   6557   8203     4012    951  3034      27
14   生野  42201      127  24248  10322  13926     4792    880  3907       5
15    旭  26079       22  16718   7165   9553     2325    419  1902       4
16   城東  48219       89  30298  12807  17491     4994   1098  3878      18
17   鶴見  38480       46  23314  10067  13247     5168   2100  3019      49
18  阿倍野  25672        8  17858   8806   9052     1828    291  1535       2
19  住之江  52502      203  28550  11706  16844    10403   3857  3929    2617
20   住吉  43938       13  28873  12501  16372     3100    602  2475      23
21  東住吉  44560      301  26782  11779  15003     4861   1159  3676      26
22   平野  74857      117  44945  18877  26068     8440   2101  6299      40
23   西成  29605       20  16240   6935   9305     4340   1427  2863      50

     バス  特種用途車  大型特種    小型二輪   軽自動車 電気小型自動車  小型特殊自動車 電気小型特殊自動車
0   209    552   160   922.0   7449       5      299        78
1    18    420    68   797.0   4946       1      118        48
2    17    453    83   497.0   4515       0     1597       911
3   274   1127   308   550.0   4616       0      184        29
4    37    485   178   935.0   6910       0      175        69
5    10    481   263   701.0   5862       4      435       150
6   341    837   927   722.0   5838       0      282        79
7   118    810   331   551.0   6458       0      192        22
8    17    154    31   517.0   3702       1      122        40
9    12    705   198   447.0   4587       3      248        49
10   78   1201   390   885.0   7014       1      372        69
11   66    670    38  1561.0  10629       0      236        68
12  176    969   197  1799.0  11516       0      169        87
13  112    394    55   609.0   5560       0      352       111
14   69    636   104   985.0  10831       0      536       127
15   46    300    47   904.0   5650       0       89        22
16  125    970   215  1571.0   9751       1      295        88
17   55    738   164   891.0   7884       0      266        46
18   15    266    18   748.0   4862       0       77         8
19  218   2005   885   901.0   9190       3      350       200
20  138    418   447  1122.0   9760       0       80        13
21   26    829   124  1053.0  10297       2      588       299
22  174   1122   100  1408.0  18174       0      494       117
23   69    791    98   693.0   7206       1      168        19